@import "_mixins.scss";
@import "_variables.scss";

:root {
  font-family: "Gmarket Sans Light";
}

h1 {
  font-size: 6vw;
  font-family: "Gmarket Sans Bold";
  color: $beige;
  margin: 1vw 0;
}
h2 {
  font-size: 5vw;
  font-family: "Gmarket Sans Bold";
  margin: 1vw 0;
}
h3 {
  font-size: 4vw;
  margin: 1vw 0;
}
h4 {
  font-size: 3.4vw;
  margin: 1vw 0;
}
.bold {
  font-family: "Gmarket Sans Bold";
}
h5 {
  font-size: 2vw;
  text-align: center;
  color: $gray;
  margin: 1vw 3vw;
}
.number {
  background-color: $blue;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  color: #fdfff7;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1vw;
}

body {
  margin: 0;
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $blue;
      width: 100%;
      height: 33vw;
      .logo {
        width: 25vw;
        margin-top: 6vw;
        margin-bottom: 2vw;
      }
    }
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      section.product:nth-child(2n -1) {
        background-color: $backGray;
      }
      section.product {
        padding: 2vw 0;
        width: 100%;
        .subtitle {
          display: flex;
          align-items: center;
          margin-left: 2vw;
        }
        .content {
          height: 30vw;
          display: flex;
          // justify-content: center;
          align-items: center;
          // .picture {
          //   margin-left: 2vw;
          //   width: 30vw;
          //   max-width: 252px;
          //   height: 30vw;
          //   max-height: 252px;
          //   border-radius: 50px;
          //   margin-right: 2vw;
          // }
          .picture {
            width: 30vw;
            height: 30vw;
            background-size: cover;
            margin-left: 2vw;
            margin-right: 2vw;

            // background-color: red;
          }
          .explain {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 30vw;
            width: 56vw;
            margin-left: 1vw;
            margin-right: 2vw;
            .explain__top {
              // border-bottom: 1px solid $gray;
              // flex: 1;
              margin-top: 3vw;
              h4 {
                font-size: 3vw;
              }
              .etc h4 {
                font-size: 2.5vw;
                &:nth-child(2n) {
                  text-indent: 4%;
                }
              }
            }
            .explain__bottom {
              margin-bottom: 3vw;
              // flex: 1;
              select {
                width: 50vw;
                max-width: 418px;
                height: 7vw;
                // max-height: 40px;
                font-size: 2.6vw;
                border-radius: 10px;
                padding-left: 2vw;
              }
            }
          }
        }
      }
    }
    .btn__100 {
      border-radius: 10px;
      margin: 3vw 0;
      width: 95%;
      height: 10vw;
      background-color: $red;
      color: white;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
@include response-over(1024px);
