@import "_mixins.scss";
@import "_variables.scss";

main {
  section.result {
    width: 80%;
    margin-top: 4vw;
    h2 {
      color: $blue;
      margin-bottom: 2vw;
    }
    .result__detail {
      display: flex;
      // justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid gray;
      margin: 1vw 0;
      h3 {
        flex: 3;
        font-family: Gmarket Sans Medium;
        letter-spacing: -0.07em;
      }
      h4 {
        flex: 2;
        letter-spacing: -0.07em;
      }
    }
    .result__detail:last-child {
      border-bottom: none;
    }
  }
  section.price {
    margin: 3vw 0;
    display: flex;
    align-items: center;
    h2:last-child {
      margin-left: 2vw;
      color: $red;
      font-size: 7vw;
    }
  }
  section.reference {
    height: 25vw;
    h6 {
      font-size: 2.3vw;
      margin: 1vw 5vw;
      letter-spacing: -0.07em;
      .mark__red {
        color: $red;
        font-family: Gmarket Sans Medium;
        background: none;
      }
    }
  }
  section.btn__section {
    width: 100%;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: peru;
    align-items: center;
    .btn__wrapper {
      display: flex;
      width: 95%;
      .btn__50 {
        border-radius: 10px;
        flex: 1;
        height: 10vw;
        background-color: $yellow;
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        &:first-child {
          background-color: $blue;
          margin-right: 1vw;
        }
      }
    }
    a:hover {
      cursor: pointer;
    }
  }
}

footer {
  background-color: $blue;
  width: 100%;
  .CS {
    margin: 5vw 2vw;
    display: flex;
    .left__wrapper {
      flex: 2;
      border-right: solid 1px $gray;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 2vw;
      h4 {
        color: $gray;
        letter-spacing: -0.07em;
        font-style: italic;
      }
      h1 {
        font-style: italic;
        margin: 0;
        &:last-child {
          align-self: flex-end;
        }
      }
    }
    .right__wrapper {
      flex: 5;
      margin-left: 2vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        color: $beige;
        font-size: 4.5vw;
      }
      h4 {
        font-size: 3vw;
        letter-spacing: -0.1em;
        color: white;
        margin: 0.3vw 0;
        .yellow {
          background: none;
          color: yellow;
        }
      }
    }
  }
}
@include response-over(1024px);
